# Lab1: Pre-processing

### 1. Read and show the properties of dataset "iris_data_with_missing_values.csv"

In [1]:
#First import the required liberaries 
from pandas import read_csv
import numpy as np
import pandas as pd
df=read_csv('iris_data_with_missing_values.csv',header=None)
print(df.describe())

                0           1           2           3
count  147.000000  147.000000  147.000000  148.000000
mean     5.908844    3.138776    3.836735    1.197297
std      1.116190    1.226111    1.821187    0.768243
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max     15.000000   17.000000   10.000000    2.500000

### 2. Print first 20 rows of the dataset

In [57]:
print(df.head(20))

      0    1     2    3            4
0   5.1  3.5   1.4  0.2  Iris-setosa
1   4.9  3.0   1.4  0.2  Iris-setosa
2   4.7  3.2   1.3  0.2  Iris-setosa
3   4.6  3.1   1.5  0.2  Iris-setosa
4   5.0  3.6   1.4  0.2  Iris-setosa
5   5.4  3.9   1.7  0.4  Iris-setosa
6   4.6  3.4   1.4  0.3  Iris-setosa
7   5.0  3.4  10.0  0.2  Iris-setosa
8   4.4  2.9   1.4  0.2  Iris-setosa
9   4.9  3.1   1.5  0.1  Iris-setosa
10  5.4  3.7   1.5  0.2  Iris-setosa
11  4.8  3.4   1.6  0.2  Iris-setosa
12  4.8  3.0   1.4  0.1  Iris-setosa
13  4.3  3.0   1.1  0.1  Iris-setosa
14  5.8  4.0   1.2  0.2  Iris-setosa
15  5.7  NaN   1.5  0.4  Iris-setosa
16  5.4  3.9   1.3  0.4  Iris-setosa
17  5.1  3.5   1.4  0.3  Iris-setosa
18  5.7  3.8   1.7  0.3  Iris-setosa
19  5.1  3.8   1.5  0.3  Iris-setosa

### 3. Find the number of zeroes in all the columns

In [58]:
print((df[[0,1,2,3]]==0).sum())

0    0
1    0
2    0
3    0
dtype: int64

### 4. Find the number of null values in the dataset

In [82]:
# Column Wise number of Null Values
print(df.isnull().sum())

0    3
1    3
2    3
3    2
4    3
dtype: int64

### 5. Replace the zeroes with Nan values in selected attribute (say attribute 1 and 3)

In [80]:
df[[0,2]]=df[[0,2]].replace(0,np.NaN)

### 6. Find the number of rows having missing values

In [61]:
sum([True for idx,row in df.iterrows() if any(row.isnull())])

13

### 7. Find the number of null values in a dataset

In [83]:
# Total Number of null values in the dataset
df.isnull().sum().sum()

14

### 8. Discard the records with missing values

In [84]:
df_copy1=df.copy()
df_copy1.dropna(inplace=True)

### 9. Find the number of records after discarding null values

In [85]:
#comparing the number of records before and after discarding null values
print(df.shape)
print(df_copy1.shape)

(150, 5)
(137, 5)

### 10. Replace missing value with the mean and print the output

In [86]:
df_copy2=df.copy()
df_copy2.fillna(df_copy2.mean(),inplace=True)
print(df_copy2.isnull().sum())
print(df_copy2.head(20))

0    0
1    0
2    0
3    0
4    3
dtype: int64
      0         1     2    3            4
0   5.1  3.500000   1.4  0.2  Iris-setosa
1   4.9  3.000000   1.4  0.2  Iris-setosa
2   4.7  3.200000   1.3  0.2  Iris-setosa
3   4.6  3.100000   1.5  0.2  Iris-setosa
4   5.0  3.600000   1.4  0.2  Iris-setosa
5   5.4  3.900000   1.7  0.4  Iris-setosa
6   4.6  3.400000   1.4  0.3  Iris-setosa
7   5.0  3.400000  10.0  0.2  Iris-setosa
8   4.4  2.900000   1.4  0.2  Iris-setosa
9   4.9  3.100000   1.5  0.1  Iris-setosa
10  5.4  3.700000   1.5  0.2  Iris-setosa
11  4.8  3.400000   1.6  0.2  Iris-setosa
12  4.8  3.000000   1.4  0.1  Iris-setosa
13  4.3  3.000000   1.1  0.1  Iris-setosa
14  5.8  4.000000   1.2  0.2  Iris-setosa
15  5.7  3.138776   1.5  0.4  Iris-setosa
16  5.4  3.900000   1.3  0.4  Iris-setosa
17  5.1  3.500000   1.4  0.3  Iris-setosa
18  5.7  3.800000   1.7  0.3  Iris-setosa
19  5.1  3.800000   1.5  0.3  Iris-setosa

### 11. Replace missing value with the median and print the output

In [87]:
df_copy3=df.copy()
df_copy3.fillna(df_copy3.median(),inplace=True)
print(df_copy3.isnull().sum())
print(df_copy3.head(20))

0    0
1    0
2    0
3    0
4    3
dtype: int64
      0    1     2    3            4
0   5.1  3.5   1.4  0.2  Iris-setosa
1   4.9  3.0   1.4  0.2  Iris-setosa
2   4.7  3.2   1.3  0.2  Iris-setosa
3   4.6  3.1   1.5  0.2  Iris-setosa
4   5.0  3.6   1.4  0.2  Iris-setosa
5   5.4  3.9   1.7  0.4  Iris-setosa
6   4.6  3.4   1.4  0.3  Iris-setosa
7   5.0  3.4  10.0  0.2  Iris-setosa
8   4.4  2.9   1.4  0.2  Iris-setosa
9   4.9  3.1   1.5  0.1  Iris-setosa
10  5.4  3.7   1.5  0.2  Iris-setosa
11  4.8  3.4   1.6  0.2  Iris-setosa
12  4.8  3.0   1.4  0.1  Iris-setosa
13  4.3  3.0   1.1  0.1  Iris-setosa
14  5.8  4.0   1.2  0.2  Iris-setosa
15  5.7  3.0   1.5  0.4  Iris-setosa
16  5.4  3.9   1.3  0.4  Iris-setosa
17  5.1  3.5   1.4  0.3  Iris-setosa
18  5.7  3.8   1.7  0.3  Iris-setosa
19  5.1  3.8   1.5  0.3  Iris-setosa

### 12. Create a dataframe and label the columns

In [88]:
dataframe=pd.DataFrame(data=df)
dataframe.columns=["Sepal_Length","Sepal_Width","Petal_Length","Petal_Width","Class"]
print(dataframe.head())

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### 13. Sample the dataset with and without replacement (20%data)

In [77]:
# Without replacement
dataframe.sample(frac=0.2, replace=False)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width            Class
33            5.5          4.2           1.4          0.2      Iris-setosa
84            5.4          3.0           4.5          1.5  Iris-versicolor
43            5.0          3.5           1.6          0.6      Iris-setosa
86            6.7          3.1           4.7          1.5  Iris-versicolor
94            5.6          2.7           4.2          1.3  Iris-versicolor
137           6.4          3.1           5.5          1.8   Iris-virginica
31            5.4          3.4           1.5          0.4      Iris-setosa
102           7.1          3.0           5.9          2.1   Iris-virginica
49            5.0          3.3           1.4          0.2      Iris-setosa
139           6.9          3.1           5.4          2.1   Iris-virginica
98            5.1          2.5           3.0          1.1  Iris-versicolor
131           7.9          3.8           6.4          2.0   Iris-virginica
63            6.1          2.9           4.7          1.4  Iris-versicolor
61            5.9          3.0           4.2          1.5  Iris-versicolor
25            5.0          3.0           1.6          0.2      Iris-setosa
65            6.7          3.1           4.4          1.4  Iris-versicolor
60            5.0          2.0           3.5          1.0  Iris-versicolor
103           6.3          2.9           5.6          1.8   Iris-virginica
141           6.9          3.1           5.1          2.3   Iris-virginica
120           6.9          3.2           5.7          2.3   Iris-virginica
140           6.7          3.1           5.6          2.4   Iris-virginica
69            5.6          2.5           3.9          1.1  Iris-versicolor
28            5.2          3.4           1.4          0.2      Iris-setosa
117           7.7          3.8           6.7          2.2   Iris-virginica
11            4.8          3.4           1.6          0.2      Iris-setosa
12            4.8          3.0           1.4          0.1      Iris-setosa
114           5.8          2.8           5.1          2.4   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
52            6.9          3.1           4.9          1.5  Iris-versicolor
56            6.3          3.3           4.7          1.6  Iris-versicolor

In [78]:
# With replacement
dataframe.sample(frac=0.2, replace=True)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width            Class
46            NaN          3.8           1.6          0.2      Iris-setosa
53            5.5          2.3           4.0          1.3  Iris-versicolor
124           6.7          3.3           5.7          2.1   Iris-virginica
14            5.8          4.0           1.2          0.2      Iris-setosa
28            5.2          3.4           1.4          0.2      Iris-setosa
60            5.0          2.0           3.5          1.0  Iris-versicolor
31            5.4          3.4           1.5          0.4      Iris-setosa
4             5.0          3.6           1.4          0.2      Iris-setosa
107           7.3          2.9           6.3          1.8   Iris-virginica
14            5.8          4.0           1.2          0.2      Iris-setosa
58            6.6          2.9           4.6          NaN  Iris-versicolor
137           6.4          3.1           5.5          1.8   Iris-virginica
94            5.6          2.7           4.2          1.3  Iris-versicolor
134           6.1          2.6           5.6          1.4   Iris-virginica
86            6.7          3.1           4.7          1.5  Iris-versicolor
126           6.2          2.8           4.8          1.8   Iris-virginica
117           7.7          3.8           6.7          2.2   Iris-virginica
45            4.8          3.0           1.4          0.3              NaN
114           5.8          2.8           5.1          2.4   Iris-virginica
78            6.0          2.9           4.5          1.5  Iris-versicolor
17            5.1          3.5           1.4          0.3      Iris-setosa
26            5.0          3.4           1.6          0.4      Iris-setosa
49            5.0          3.3           1.4          0.2      Iris-setosa
12            4.8          3.0           1.4          0.1      Iris-setosa
72            6.3          2.5           4.9          1.5  Iris-versicolor
41            4.5          2.3           1.3          0.3      Iris-setosa
103           6.3          2.9           5.6          1.8   Iris-virginica
46            NaN          3.8           1.6          0.2      Iris-setosa
105           7.6          3.0           6.6          2.1   Iris-virginica
149           5.9          NaN           5.1          1.8   Iris-virginica

### 14. Normalize the dataset using z-score normalization

In [90]:
ndf=dataframe.iloc[:,0:4]
normalized_ndf=(ndf-ndf.mean())/ndf.std()
print(normalized_ndf.head(20))

    Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0      -0.724647     0.294610     -1.337992    -1.298154
1      -0.903828    -0.113183     -1.337992    -1.298154
2      -1.083009     0.049934     -1.392902    -1.298154
3      -1.172599    -0.031625     -1.283083    -1.298154
4      -0.814237     0.376169     -1.337992    -1.298154
5      -0.455875     0.620844     -1.173265    -1.037820
6      -1.172599     0.213051     -1.337992    -1.167987
7      -0.814237     0.213051      3.384202    -1.298154
8      -1.351780    -0.194742     -1.337992    -1.298154
9      -0.903828    -0.031625     -1.283083    -1.428321
10     -0.455875     0.457727     -1.283083    -1.298154
11     -0.993418     0.213051     -1.228174    -1.298154
12     -0.993418    -0.113183     -1.337992    -1.428321
13     -1.441371    -0.113183     -1.502720    -1.428321
14     -0.097513     0.702403     -1.447811    -1.298154
15     -0.187104          NaN     -1.283083    -1.037820
16     -0.455875     0.620844     -1.392902    -1.037820
17     -0.724647     0.294610     -1.337992    -1.167987
18     -0.187104     0.539286     -1.173265    -1.167987
19     -0.724647     0.539286     -1.283083    -1.167987

### 15. Find the outliers using z-score normalization

In [98]:
print(np.where(normalized_ndf>3))
print(np.where(normalized_ndf<-3))

(array([ 7, 30, 64], dtype=int64), array([2, 0, 1], dtype=int64))
(array([], dtype=int64), array([], dtype=int64))

### 16. Normalize the dataset using min-max normalization

In [91]:
new_normalized_ndf=(ndf-ndf.min())/(ndf.max()-ndf.min())
new_normalized_ndf.head(20)

    Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0       0.074766     0.100000      0.044444     0.041667
1       0.056075     0.066667      0.044444     0.041667
2       0.037383     0.080000      0.033333     0.041667
3       0.028037     0.073333      0.055556     0.041667
4       0.065421     0.106667      0.044444     0.041667
5       0.102804     0.126667      0.077778     0.125000
6       0.028037     0.093333      0.044444     0.083333
7       0.065421     0.093333      1.000000     0.041667
8       0.009346     0.060000      0.044444     0.041667
9       0.056075     0.073333      0.055556     0.000000
10      0.102804     0.113333      0.055556     0.041667
11      0.046729     0.093333      0.066667     0.041667
12      0.046729     0.066667      0.044444     0.000000
13      0.000000     0.066667      0.011111     0.000000
14      0.140187     0.133333      0.022222     0.041667
15      0.130841          NaN      0.055556     0.125000
16      0.102804     0.126667      0.033333     0.125000
17      0.074766     0.100000      0.044444     0.083333
18      0.130841     0.120000      0.077778     0.083333
19      0.074766     0.120000      0.055556     0.083333

### 17. Write the code to discritize an attribute into 6 bins (third attribute)

In [95]:
a=ndf.iloc[:3]
bins=np.array([0.0,0.5,1.0,1.5,2.0,2.5])
ind=np.digitize(a,bins,right=False)
ind

array([[6, 6, 3, 1],
       [6, 6, 3, 1],
       [6, 6, 3, 1]], dtype=int64)

### 18. Find the correlation coeffiecient

In [92]:
n1=ndf.iloc[:,0]
n2=ndf.iloc[:,1]
n1.corr(n2)

-0.04572324835780275