# Naive Bayes

It is a classification technique based on Bayes’ Theorem with an assumption of independence among predictors. In simple terms, a Naive Bayes classifier assumes that the presence of a particular feature in a class is unrelated to the presence of any other feature.

For example, a fruit may be considered to be an apple if it is red, round, and about 3 inches in diameter. Even if these features depend on each other or upon the existence of the other features, all of these properties independently contribute to the probability that this fruit is an apple and that is why it is known as ‘Naive’.

Naive Bayes model is easy to build and particularly useful for very large data sets. Along with simplicity, Naive Bayes is known to outperform even highly sophisticated classification methods.

Naive Bayes is a classification algorithm for binary (two-class) and multi-class classification problems. The technique is easiest to understand when described using binary or categorical input values.

It is called naive Bayes because the calculation of the probabilities for each hypothesis are simplified to make their calculation tractable. Rather than attempting to calculate the values of each attribute value P(d1, d2, d3|h), they are assumed to be conditionally independent given the target value and calculated as P(d1|h) * P(d2|H) and so on.

## Bayes' Theorem
Bayes’ Theorem is stated as:

P(h|d) = (P(d|h) * P(h)) / P(d)

Where

###### P(h|d) is the probability of hypothesis h given the data d. This is called the posterior probability.
###### P(d|h) is the probability of data d given that the hypothesis h was true.
###### P(h) is the probability of hypothesis h being true (regardless of the data). This is called the prior probability of h.
###### P(d) is the probability of the data (regardless of the hypothesis).

### Useful Libraries

To load dataset:    import pandas as pd
Preprocessing:      from sklearn import preprocessing
NB Classifier:      from sklearn.naive_bayes import GaussianNB
Train & Test Split: from sklearn.model_selection import train_test_split
K-Fold:             from sklearn.model_selection import cross_val_score

For Prediction and Evaluation

from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import accuracy_score

#### Load Dataset. Use "bank-data.csv"

In [2]:
# import dataset
import pandas as pd
df=pd.read_csv('bank-data.csv',index_col=0)
df.head()

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
id,,,,,,,,,,,
ID12101,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
ID12102,40,MALE,TOWN,30085.1,YES,3,YES,NO,YES,YES,NO
ID12103,51,FEMALE,INNER_CITY,16575.4,YES,0,YES,YES,YES,NO,NO
ID12104,23,FEMALE,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
ID12105,57,FEMALE,RURAL,50576.3,YES,0,NO,YES,NO,NO,NO

#### Preprocess the data

In [3]:
# import library for preprocessing
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

In [4]:
# Tranform data using "fit_transform(attribute)" function  
df.sex=le.fit_transform(df.sex)
df.region=le.fit_transform(df.region)
df.married=le.fit_transform(df.married)
df.car=le.fit_transform(df.car)
df.save_act=le.fit_transform(df.save_act)
df.current_act=le.fit_transform(df.current_act)
df.mortgage=le.fit_transform(df.mortgage)
df.head()

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
id,,,,,,,,,,,
ID12101,48,0,0,17546.0,0,1,0,0,0,0,YES
ID12102,40,1,3,30085.1,1,3,1,0,1,1,NO
ID12103,51,0,0,16575.4,1,0,1,1,1,0,NO
ID12104,23,0,3,20375.4,1,3,0,0,1,0,NO
ID12105,57,0,1,50576.3,1,0,0,1,0,0,NO

#### Select independent variables and target column

In [5]:
# Select the independent variables and the target attribute
X = df[df.columns[:-1]] # Selecting the independent variables
Y=df[df.columns[len(df.columns)-1]] # selecting only the target lableled column
X.head()

,age,sex,region,income,married,children,car,save_act,current_act,mortgage
id,,,,,,,,,,
ID12101,48,0,0,17546.0,0,1,0,0,0,0
ID12102,40,1,3,30085.1,1,3,1,0,1,1
ID12103,51,0,0,16575.4,1,0,1,1,1,0
ID12104,23,0,3,20375.4,1,3,0,0,1,0
ID12105,57,0,1,50576.3,1,0,0,1,0,0

#### Import Naive Bayes Classifier library

In [6]:
# import Classifier library
from sklearn.naive_bayes import GaussianNB

In [7]:
# Call the Classifier
gnb = GaussianNB()

#### Predict the target column and find the perfromance of the model

In [8]:
# Divide the dataset into training and testing partition
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state = 30)
Y_pred = gnb.fit(X_train, Y_train).predict(X_test)

In [9]:
# Print Number of mislabeled points
print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (Y_test != Y_pred).sum()))

Number of mislabeled points out of a total 144 points : 56

### Prediction and Evaluation

In [11]:
# import required libraries
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import accuracy_score

In [13]:
# Calculate and print confusion matrix and other performance measures (Refer previous labsheet)
predictions = gnb.predict(X_test)
print(classification_report(Y_test,predictions))
print("Confusion Matrix")
print(confusion_matrix(Y_test,predictions))
print("\n Accuracy")
print(accuracy_score(Y_test,predictions))

              precision    recall  f1-score   support

          NO       0.62      0.78      0.69        80
         YES       0.59      0.41      0.48        64

    accuracy                           0.61       144
   macro avg       0.61      0.59      0.59       144
weighted avg       0.61      0.61      0.60       144

Confusion Matrix
[[62 18]
 [38 26]]

 Accuracy
0.6111111111111112

#### Q1: Consider "current_act" as an irrelevant attribute. Remove it and find the accuracy of Naive Bayes classifier

In [21]:
df_copy = df.copy()
df_copy.drop(['current_act'], axis=1,inplace=True)

In [22]:
# display dataframe first 5 rows
df_copy.head()

,age,sex,region,income,married,children,car,save_act,mortgage,pep
id,,,,,,,,,,
ID12101,48,0,0,17546.0,0,1,0,0,0,YES
ID12102,40,1,3,30085.1,1,3,1,0,1,NO
ID12103,51,0,0,16575.4,1,0,1,1,0,NO
ID12104,23,0,3,20375.4,1,3,0,0,0,NO
ID12105,57,0,1,50576.3,1,0,0,1,0,NO

In [23]:
# Selecting the independent variables
X2 = df[df_copy.columns[:-1]]

In [25]:
# selecting only the target lableled column
Y2=df[df_copy.columns[len(df_copy.columns)-1]]

In [27]:
# Apply the classifier and Print Number of mislabeled points
gnb2 = GaussianNB()
X_train, X_test, Y_train, Y_test = train_test_split(X2, Y2, test_size=0.30, random_state = 30)
Y_pred = gnb2.fit(X_train, Y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (Y_test != Y_pred).sum()))

Number of mislabeled points out of a total 144 points : 56

In [29]:
# Calculate and print confusion matrix and other performance measures
predictions = gnb2.predict(X_test)
print(classification_report(Y_test,predictions))
print("Confusion Matrix")
print(confusion_matrix(Y_test,predictions))
print("\n Accuracy")
print(accuracy_score(Y_test,predictions))

              precision    recall  f1-score   support

          NO       0.62      0.76      0.69        80
         YES       0.59      0.42      0.49        64

    accuracy                           0.61       144
   macro avg       0.60      0.59      0.59       144
weighted avg       0.61      0.61      0.60       144

Confusion Matrix
[[61 19]
 [37 27]]

 Accuracy
0.6111111111111112

#### Q2: Write your observation

Even after removing current_act, the mislabeled points and the accuracy remains the same. This is because Naive Bayes classifier is robust to the irrelevant attributes.

### Load "car.csv" dataset.

#### Q3: Apply Naive Bayes classifier on this dataset

In [33]:
# Load the data

car_df = pd.read_csv("car.csv", header=None)
car_df.columns = ["price", "maintenance_cost", "doors", "person_capacity", "luggage_boot_size", "safety", "class"]

# shuffle the DataFrame rows 
from sklearn.utils import shuffle
car_df = shuffle(car_df)
car_df.head()

,price,maintenance_cost,doors,person_capacity,luggage_boot_size,safety,class
372,vhigh,low,3,6,med,low,unacc
302,vhigh,med,6,2,med,high,unacc
1043,med,high,4,4,big,high,acc
1033,med,high,4,2,big,med,unacc
1057,med,high,6,2,med,med,unacc

In [35]:
# Preprocess and Tranform data using "fit_transform(attribute)" function  
label_encoder = preprocessing.LabelEncoder()
car_df.price = label_encoder.fit_transform(car_df.price)
car_df.maintenance_cost = label_encoder.fit_transform(car_df.maintenance_cost)
car_df.doors = label_encoder.fit_transform(car_df.doors)
car_df.person_capacity = label_encoder.fit_transform(car_df.person_capacity)
car_df.luggage_boot_size = label_encoder.fit_transform(car_df.luggage_boot_size)
car_df.safety = label_encoder.fit_transform(car_df.safety)
car_df.head()

,price,maintenance_cost,doors,person_capacity,luggage_boot_size,safety,class
372,3,1,1,2,1,1,unacc
302,3,2,3,0,1,0,unacc
1043,2,0,2,1,0,0,acc
1033,2,0,2,0,0,2,unacc
1057,2,0,3,0,1,2,unacc

In [36]:
# Select the independent variables and the target attribute
X = car_df[car_df.columns[:-1]]    #independent variables
Y = car_df[car_df.columns[len(car_df.columns)-1]]   #target column

In [ ]:
# Apply the classifier
gnb = GaussianNB()

In [37]:
# Divide the dataset into training and testing partition
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state = 30)

# predictions for testing partition
gnb.fit(X_train, Y_train)
predictions = gnb.predict(X_test)

In [38]:
# Print Number of mislabeled points
print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (Y_test != predictions).sum()))

Number of mislabeled points out of a total 519 points : 200

In [39]:
# Calculate and print confusion matrix and other performance measures
print(classification_report(Y_test,predictions))
print("Confusion Matrix")
print(confusion_matrix(Y_test,predictions))
print("\n Accuracy")
print(accuracy_score(Y_test,predictions))

              precision    recall  f1-score   support

         acc       0.44      0.10      0.16       125
        good       0.00      0.00      0.00        17
       unacc       0.83      0.81      0.82       360
       vgood       0.12      1.00      0.21        17

    accuracy                           0.61       519
   macro avg       0.35      0.48      0.30       519
weighted avg       0.69      0.61      0.61       519

Confusion Matrix
[[ 12   0  53  60]
 [  6   0   5   6]
 [  9   0 290  61]
 [  0   0   0  17]]

 Accuracy
0.6146435452793835

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

#### Q4: Find the correlation between the attributes of the dataset.

In [40]:
# Find the pairwise correlation of attributes and arrange in ascending order
c = car_df.corr().abs()

s = c.unstack()
so = s.sort_values(kind="quicksort")
print(so)

doors              safety               0.0
luggage_boot_size  person_capacity      0.0
                   doors                0.0
                   maintenance_cost     0.0
                   price                0.0
person_capacity    safety               0.0
                   luggage_boot_size    0.0
safety             maintenance_cost     0.0
person_capacity    doors                0.0
                   maintenance_cost     0.0
                   price                0.0
safety             luggage_boot_size    0.0
doors              luggage_boot_size    0.0
                   person_capacity      0.0
safety             doors                0.0
doors              maintenance_cost     0.0
                   price                0.0
maintenance_cost   safety               0.0
                   luggage_boot_size    0.0
                   person_capacity      0.0
                   doors                0.0
safety             person_capacity      0.0
maintenance_cost   price                0.0
price              safety               0.0
                   luggage_boot_size    0.0
                   person_capacity      0.0
                   doors                0.0
                   maintenance_cost     0.0
safety             price                0.0
luggage_boot_size  safety               0.0
price              price                1.0
person_capacity    person_capacity      1.0
doors              doors                1.0
maintenance_cost   maintenance_cost     1.0
luggage_boot_size  luggage_boot_size    1.0
safety             safety               1.0
dtype: float64

#### Q5: Remove one of the highly correlated attributes and apply Naive Bayes classifier

In [41]:
# Drop highly correlated attribute
car_df2 = car_df.copy(deep=True) #copy dataset
del car_df2['doors']   #remove current_act attribute
car_df2.head()

,price,maintenance_cost,person_capacity,luggage_boot_size,safety,class
372,3,1,2,1,1,unacc
302,3,2,0,1,0,unacc
1043,2,0,1,0,0,acc
1033,2,0,0,0,2,unacc
1057,2,0,0,1,2,unacc

In [42]:
# Apply the classifier
gnb=GaussianNB()
# Divide the dataset into training and testing partition
X = car_df2[car_df2.columns[:-1]]    #independent variables
Y = car_df2[car_df2.columns[len(car_df2.columns)-1]]   #target column
# predictions for testing partition
gnb.fit(X_train, Y_train)
predictions = gnb.predict(X_test)
# Print Number of mislabeled points
print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (Y_test != predictions).sum()))

Number of mislabeled points out of a total 519 points : 200

In [43]:
# Calculate and print confusion matrix and other performance measures
print(classification_report(Y_test,predictions))
print("Confusion Matrix")
print(confusion_matrix(Y_test,predictions))
print("\n Accuracy")
print(accuracy_score(Y_test,predictions))

              precision    recall  f1-score   support

         acc       0.44      0.10      0.16       125
        good       0.00      0.00      0.00        17
       unacc       0.83      0.81      0.82       360
       vgood       0.12      1.00      0.21        17

    accuracy                           0.61       519
   macro avg       0.35      0.48      0.30       519
weighted avg       0.69      0.61      0.61       519

Confusion Matrix
[[ 12   0  53  60]
 [  6   0   5   6]
 [  9   0 290  61]
 [  0   0   0  17]]

 Accuracy
0.6146435452793835

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

#### Q6: Write your observation below in the performance of model in Q4 and Q6

The Accuracy remains same even after we dropped highly correlated attribute 'doors'